<h1 class="uk-text-center uk-text-primary">Do you like to add the folowing file to your cloud?</h1>
<h2 class="uk-text-center uk-text-warning uk-margin-small-top">{{file.name}}</h2>

<div class="uk-container uk-text-center uk-margin-large-top">
    <form action="/get-share" method="post" style="">
        <input type="hidden" name="fileId" value={{file._id}}>
        <input type="hidden" name="_csrf" id="_csrf" value={{csrfToken}}>
        <button type="submit" class="uk-button uk-button-large uk-margin-small-right" style="border-radius: 10px; background: #4BB543; color: white;">Yes</button>
        <button type="submit" class="uk-button uk-button-danger uk-button-large" style="border-radius: 10px;" name="button" value="no">No</button>
    </form>
</div>

{{#if fileError}}
<h1 class="uk-text-center uk-text-danger uk-text-bold">File not found!, check with the one who send you this file.</h1>
{{/if}}