<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="/lock/{{file._id}}" method="POST">
    {{#if userError}}
    <h4 class="uk-text-danger uk-text-center uk-margin-medium-bottom">key to long!</h4>
    {{else}}
    <h3>Lock {{fileName}}</h3>
    {{/if}}
    <label for="username">Key</label>
    <input type="text" placeholder="Max: 20 chars" id="key" name="key">
    <a href="/files">back to your files</a>
    <input type="hidden" name="_csrf" value={{csrfToken}}>
    <button class="" type="submit">Lock</button>
</form>