<div>
    <h1 class="uk-text-center uk-text-warning" style="margin-top: 60px !important;">The page that you're looking for does
        not exist!</h1>
    <iframe class="centeredVideo" width="560" height="315" allow="autoplay"
        src="https://www.youtube.com/embed/t3otBjVZzT0?autoplay=1"></iframe>
</div>